<%= render '/navbar' %>
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-4">
      <%= form_tag(recipes_path, method: :get, :id => "recipes_search", class: "input-group mb-3 new-width") do %>
        <%= text_field_tag :search, params[:search], class: "form-control",  placeholder: "What do you like?" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-between">
    <% @results.each do |recipe| %>
      <div class="card mb-4" style="width: 18rem;">
        <%= image_tag(recipe[:image], :alt => recipe[:title], :class => "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= recipe[:title] %></h5>
          <p class="card-text">Minutes: <%= recipe[:duration] %> <br>
          Servings: <%= recipe[:servings] %>
          </p>
          <%= link_to "See the recipe", recipe_path(recipe[:id]), :class => "btn btn-danger"%>
        </div>
      </div>

    <% end %>
  </div>

</div>

